<center>
  <h1>Articles Listing Page</h1>
</center>

<hr siz="1px" color="black">

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created_at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%=article.title%></td>
      <td><%=article.description%></td>
      <td><%=article.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to 'Show', article_path(article)%></td>
      <td><%= link_to 'Delete', article_path(article), method: :DELETE%></td>
    </tr>
    <%end%>
  </tbody>
</table>
